@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost-light-300 {
	font-family: 'Jost', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.scene-change-fade-in {
	animation-name: fade-in;
	animation-duration: 2s;
}

.scene-change-fade-out {
	animation-name: fade-out;
	animation-duration: 2s;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shake {
	0% {
		transform: rotateZ(-10deg);
	}
	50% {
		transform: rotateZ(20deg);
	}
	100% {
		transform: rotateZ(-10deg);
	}
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1024px, 0, 0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

:root {
	--card-bg-color: rgba(255, 255, 255, 0.15);
}

.base-border {
	border-image: round;
	border-image-source: url('/border_image_00.png');
	border-image-slice: 192;
	border-image-width: auto;
	border-image-repeat: stretch;
}

.base-hover:hover {
	cursor: pointer;
	opacity: 1 !important;
}

html::-webkit-scrollbar {
	width: 8px;
}

html::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

html::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
}

body {
	display: block;
	background-color: black;
	overflow: auto;
	color: white;
}

body p {
	font-size: 1rem;
}

body a {
	opacity: 0.5;
	font-size: 1rem;
}

body a:link {
	color: white;
}

body a:visited {
	color: white;
}
